.home-container {
    padding: 8rem 0;
    max-width: 1200px;
    margin: 0 auto;
}

#titulo-index {
    color: var(--primary-dark-green);
    font-size: 5rem;
    font-family: var(--heading-font-family);
    margin-bottom: 1rem;
    animation: fadeInDown 1s ease;
}

#subtitulo-index {
    color: var(--primary-green);
    font-size: 5.65rem;
    font-family: var(--subheading-font-family);
    line-height: 1.1;
    margin-bottom: 4rem;
    animation: fadeInUp 1s ease;
}

.texto-index {
    color: var(--primary-dark-green);
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-family: var(--body-font-family);
    animation: fadeIn 1s ease;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}