.projects-container {
    padding: 4rem 0;
    max-width: 1400px;
    margin: 0 auto;
    animation: slideInRight 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(-70px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.projects-title {
    color: var(--primary-green);
    font-size: 3.5rem;
    font-family: var(--heading-font-family);
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
}

.projects-title::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: var(--accent-gold);
    margin: 1rem auto;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 2rem;
}

.project-card {
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid rgba(12, 92, 66, 0.1);
    box-shadow: 0 4px 6px var(--shadow-color);
    padding: 0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.project-card:hover {
    background: linear-gradient(135deg, 
        rgba(9, 52, 38, 0.08) 0%, 
        rgba(12, 92, 66, 0.12) 100%
    );
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.project-card:hover h3 {
    color: var(--primary-dark-green);
}

.project-card:hover p {
    color: var(--primary-dark-green);
}

.project-card:hover a {
    color: var(--accent-gold);
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: 0;
}

.project-card h3 {
    color: var(--primary-dark-green);
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-family: var(--heading-font-family);
}

.project-card p {
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.project-card a {
    color: var(--primary-green);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
    padding: 0.5rem 0;
}

.project-card a:hover {
    color: var(--accent-gold);
}

/* Modal */
.tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

/* Responsividade */
@media (max-width: 800px) {
  .projects-grid {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
  
  .project-card {
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 600px) {
    .projects-container {
        padding: 2rem 1rem;
    }

    .projects-title {
        font-size: 2.5rem;
    }

    .projects-title::after {
        width: 80px;
    }

    .tecnologias {
        justify-content: center;
    }
}

.project-image-container {
    position: relative;
    width: 100%;
    /* padding-top: 10%; Define uma proporção de 3:5 (altura: largura) */
    overflow: hidden;
}