#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left; /* Alterado de center */
}

.container {
  max-width: 100%;
  padding: 0 15px;
}

.navbar {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: #ffffff;
  margin: 0 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff;
}

.menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-line {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 4px 0;
  transition: all 0.3s;
}

/* Responsive */
@media (max-width: 800px) {
  .nav-list {
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: var(--primary-color);
      flex-direction: column;
      align-items: center;
      display: none;
  }

  .nav-list.active {
      display: flex;
  }

  .nav-list .list-item {
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .menu {
      display: flex;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

footer {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-weight: 500;
}

.custom-navbar {
  background-color: var(--dark-bg) !important;
  padding: 1.5rem 2rem;
  box-shadow: 0 2px 8px var(--shadow-color);
}

.navbar-brand {
  color: var(--accent-gold) !important;
  font-family: var(--nav-font-family);
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-link {
  color: var(--accent-gold) !important;
  font-family: var(--nav-font-family);
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.2s ease;
  margin: 0 1rem;
}

.nav-link:hover {
  color: var(--accent-yellow) !important;
  transform: translateY(-2px);
}